/* Styles */
/* Page Defults */
html{
	height: 100%;
  margin-top: 0 !important;
}
body{
	text-align:center;
	padding:0 0px;
	height:100%;
}

.placeholder { color: #aaa; }

#filterButton {
  display: none;
}

.start-message {
  position: absolute;
  text-align: left;
  width: 100%;
  height: 150px;
  padding-top: 10px;
  padding-left: 10px;
  cursor: pointer;
}

#cspio-page{
	padding-top:60px;
	padding-bottom:0px;
	padding-left:10px;
	padding-right:10px;
 	min-height: 100%;
}

.flexbox #cspio-page{
	display:flex;
	padding:0px;
}

.flexbox #cspio-content{
	margin:0;
}

/* Margins */
#cspio-description,#cspio-logo, #cspio-socialprofiles,#cspio-privacy-policy-txt, #cspio-headline,#cspio-progressbar,#cspio-countdown,#cspio-thankyoumsg,#cspio-sharebuttons,#cspio-afterform{
	margin-bottom:0px;
}

/* Responsive Images */
#cspio-description img,#cspio-thankyoumsg img, #cspio-logo{
	max-width:100%;
	height:auto;
}

/* Content Elements */
#cspio-content{
	width:100%;
	padding:0px;
	margin:0 auto;
}

#cspio-content ul {
	list-style-position: inside;
	padding-left: 0px;
}

#cspio-headline{
		font-family: 'Merriweather', serif;
		font-size: 42px;
		color:#fff;
		text-align:left;
		line-height: 1.90em;
		margin-top:0;
	}

#cspio-name, #cspio-email, #cspio-subscribe-btn{
	margin-bottom:10px;
}

#cspio-field-wrapper{
  margin-left:auto;
  margin-right:auto;
}

.noglow {
  outline: none !important;
}


.seperate #cspio-subscribe-btn{
	margin-left:10px;
}

.input-group-btn .btn{
	padding-bottom:11px;
}

.cspio .seperate .input-group .form-control:first-child, .cspio .seperate .input-group-addon:first-child, .cspio .seperate .input-group-btn:first-child>.btn, .cspio .seperate .input-group-btn:first-child>.dropdown-toggle, .cspio .seperate .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
	border-radius: 0px;
}
.cspio .seperate .input-group .form-control:last-child, .cspio .seperate .input-group-addon:last-child, .cspio .seperate .input-group-btn:last-child>.btn, .cspio .seperate .input-group-btn:last-child>.dropdown-toggle, .cspio .seperate .input-group-btn:first-child>.btn:not(:first-child) {
	border-radius: 0px;
}

#cspio-privacy-policy-txt{
	display:inline-block;
	font-size:11px;
}

#cspio-ref-out{
	color:#555;
}


/* CountDown */
.countdown_section{
	display:inline-block;
	padding:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin:0 5px 10px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
	min-width:80px;
}

.countdown_amount{
	font-size:24px;
}

/* Footer Credit */
#cspio-credit{
	font-size:10px;
	position: fixed;
	bottom:0;
	right:20px;
	background-color: rgba(0,0,0,0.8);
	padding:7px;
	border-radius:2px;
	line-height: 1;
	color: #fff;
}
#cspio-credit a{
	color: #fff;
}

#cspio-credit img {
    margin-left: -6px;
    margin-right: auto;
    width: 125px;
    margin-top: -4px;
    vertical-align: middle;
}



/* Mobile */
@media (max-width: 800px) {
	
	#cspio-headline{
		font-family: 'Merriweather', serif;
		font-size: 24px;
		color:#fff;
		text-align:left;
		line-height: 1.90em;
		margin-top:0;
	}
	#cspio-logo{
		width:120px;
	}
	#cspio-page{
		padding-top: 10px;
	}
	.cspio .input-group-btn, .cspio .input-group{
		display:block;
		width:100%;
	}
	.cspio #cspio-subscribe-btn{
		margin-left:0;
		width:100%;
		display:block;
	}
	
	.cspio .input-group .form-control:first-child, .cspio .input-group-addon:first-child, .cspio .input-group-btn:first-child>.btn, .cspio .input-group-btn:first-child>.dropdown-toggle, .cspio .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
		border-radius: 0px;
	}
	.cspio .input-group .form-control:last-child, .cspio .input-group-addon:last-child, .cspio .input-group-btn:last-child>.btn, .cspio .input-group-btn:last-child>.dropdown-toggle, .cspio .input-group-btn:first-child>.btn:not(:first-child) {
		border-radius: 0px;
	}
	.countdown_section{
		margin-bottom: 10px !important;
	}
	
	#cspio-field-wrapper{
	  width:100%;
	}

	#cspio-credit{
		position:static;
		margin-top:20px;
	}

	.flexbox #cspio-page{
	display:flex;
	padding:0px;
	flex-direction: column;
	}
}

/* Gravity Forms */
#gforms_confirmation_message {
  background-color: transparent !important;
  border: none !important;
}

.gform_wrapper ul {
	padding-left: 0;
	list-style: none; }

.gform_wrapper li {
margin-bottom: 15px; }

.gform_wrapper form {
margin-bottom: 0; }

.gform_wrapper .gfield_required {
padding-left: 1px;
color: #b94a48; }

.ginput_container input, .ginput_container select, .ginput_container textarea {
display: block;
width: 100%;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.428571429;
color: #555;
vertical-align: middle;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; }

.ginput_container input:-moz-placeholder, .ginput_container select:-moz-placeholder, .ginput_container textarea:-moz-placeholder {
color: #aaa; }

.ginput_container input::-moz-placeholder, .ginput_container select::-moz-placeholder, .ginput_container textarea::-moz-placeholder {
color: #aaa; }

.ginput_container input:-ms-input-placeholder, .ginput_container select:-ms-input-placeholder, .ginput_container textarea:-ms-input-placeholder {
color: #aaa; }

.ginput_container input::-webkit-input-placeholder, .ginput_container select::-webkit-input-placeholder, .ginput_container textarea::-webkit-input-placeholder {
color: #aaa; }

.ginput_container input:focus, .ginput_container select:focus, .ginput_container textarea:focus {
border-color: #66afe9;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6); }

.ginput_container input[disabled], .ginput_container select[disabled], .ginput_container textarea[disabled], .ginput_container input[readonly], .ginput_container select[readonly], .ginput_container textarea[readonly], fieldset[disabled] .ginput_container input, fieldset[disabled] .ginput_container select, fieldset[disabled] .ginput_container textarea {
cursor: not-allowed;
background-color: #eee; }

textarea.ginput_container input, textarea.ginput_container select, textarea.ginput_container textarea {
height: auto; }

.ginput_container textarea {
height: auto; }

.gform_button {
display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 1.428571429;
text-align: center;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
white-space: nowrap;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
color: #fff;
background-color: #428bca;
border-color: #357ebd; }

.gform_button:focus {
outline: thin dotted #333;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px; }

.gform_button:hover, .gform_button:focus {
color: #333;
text-decoration: none; }

.gform_button:active, .gform_button.active {
outline: 0;
background-image: none;
-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.gform_button.disabled, .gform_button[disabled], fieldset[disabled] .gform_button {
cursor: not-allowed;
pointer-events: none;
opacity: .65;
filter: alpha(opacity=65);
-webkit-box-shadow: none;
box-shadow: none; }

.gform_button:hover, .gform_button:focus, .gform_button:active, .gform_button.active, .open .dropdown-toggle.gform_button {
color: #fff;
background-color: #3276b1;
border-color: #285e8e; }

.gform_button:active, .gform_button.active, .open .dropdown-toggle.gform_button {
background-image: none; }

.gform_button.disabled, .gform_button[disabled], fieldset[disabled] .gform_button, .gform_button.disabled:hover, .gform_button[disabled]:hover, fieldset[disabled] .gform_button:hover, .gform_button.disabled:focus, .gform_button[disabled]:focus, fieldset[disabled] .gform_button:focus, .gform_button.disabled:active, .gform_button[disabled]:active, fieldset[disabled] .gform_button:active, .gform_button.disabled.active, .gform_button[disabled].active, fieldset[disabled] .gform_button.active {
background-color: #428bca;
border-color: #357ebd; }

.gform_wrapper .gfield_error .gfield_label {
color: #b94a48; }

.gform_wrapper .gfield_error input, .gform_wrapper .gfield_error select, .gform_wrapper .gfield_error textarea {
border-color: #eed3d7;
background-color: #f2dede;
color: #b94a48; }

.gform_wrapper .gfield_error input:focus, .gform_wrapper .gfield_error select:focus, .gform_wrapper .gfield_error textarea:focus {
border-color: #b94a48;
outline: 0;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(185, 74, 72, 0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(185, 74, 72, 0.6); }

.validation_error {
padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px;
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48; }

.validation_error h4 {
margin-top: 0;
color: inherit; }

.validation_error .alert-link {
font-weight: bold; }

.validation_error>p, .validation_error>ul {
margin-bottom: 0; }

.validation_error>p+p {
margin-top: 5px; }

.validation_error hr {
border-top-color: #e6c1c7; }

.validation_error .alert-link {
color: #953b39; }

#gforms_confirmation_message {
padding: 15px;
margin-bottom: 20px;
border: 1px solid transparent;
border-radius: 4px; }

#gforms_confirmation_message h4 {
margin-top: 0;
color: inherit; }

#gforms_confirmation_message .alert-link {
font-weight: bold; }

#gforms_confirmation_message>p, #gforms_confirmation_message>ul {
margin-bottom: 0; }

#gforms_confirmation_message>p+p {
margin-top: 5px; }

.gallery-row {
padding: 15px 0; }

.aligncenter {
display: block;
margin: 0 auto; }

.alignleft {
float: left; }

.alignright {
float: right; }

figure.alignnone {
margin-left: 0;
margin-right: 0; }

@media (max-width: 480px) {
	.gform_wrapper .ginput_complex .ginput_right {
	float: none !important;
	width: 100% !important;
	}
	.gform_wrapper .ginput_complex .ginput_left {
	float: none !important;
	width: 100% !important;
	}

	.gform_wrapper .medium {
	float: none !important;
	width: 100% !important;
	}

	.gform_button{
		margin: auto;
		width: 100%;
	}
	.gform_wrapper .ginput_complex .ginput_right input[type=text], .gform_wrapper .ginput_complex .ginput_right input[type=url], .gform_wrapper .ginput_complex .ginput_right input[type=email], .gform_wrapper .ginput_complex .ginput_right input[type=tel], .gform_wrapper .ginput_complex .ginput_right input[type=number], .gform_wrapper .ginput_complex .ginput_right input[type=password], .gform_wrapper .ginput_complex .ginput_right select {
		width: 100% !important;
	}

	.gform_wrapper .ginput_complex input[type=text], .gform_wrapper .ginput_complex input[type=url], .gform_wrapper .ginput_complex input[type=email], .gform_wrapper .ginput_complex input[type=tel], .gform_wrapper .ginput_complex input[type=number], .gform_wrapper .ginput_complex input[type=password], .gform_wrapper .ginput_complex select {
		width: 100% !important;
	}
}

/* MailChimp */
#mc_embed_signup{
	background:transparent !important;
	font:inherit !important;
}

/* MyMail */
.mymail-form{
	text-align:left;
}

/* WPML */
#lang_sel, #lang_sel_click {
	position: absolute;
	top: 0;
	right: 0;
}
